# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.trrp-lab4-files.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\chiru\RiderProjects\trrp4-files\.idea\.idea.trrp-lab4-files\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
