<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HostName" value="25.63.241.222"/>
        <add key="Username" value="rustam"/>
        <add key="Password" value="rustam"/>
        <add key="QueueName" value="test"/>
        <add key="FoldersPath" value="C:\Users\Rustam-PC\ServerFolder"/>
        <add key="SocketPingPort" value="5000"/>
        <add key="SocketSyncPort" value="7546"/>
        <add key="ClientsFileName" value="clients.json"/>
    </appSettings>
</configuration>