<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HostName" value="localhost"/>
        <add key="Username" value="guest"/>
        <add key="Password" value="guest"/>
        <add key="QueueName" value="test"/>
        <add key="FoldersPath" value="C:\Users\chiru\ServerFolder"/>
        <add key="SocketPingPort" value="5000"/>
        <add key="SocketSyncPort" value="7546"/>
    </appSettings>
</configuration>